.front-code>div.editor,
.css>div.editor,
.back-code>div.editor {
    width: 50%;
    left: 0;
    /*top: 100px;*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*margin-bottom: 10px;*/
    /*position: absolute;*/
    display: block;
}

div.header {
    text-align: center;
    width: 10%;
    height: 33%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-pane iframe {
    right: 0;
    height: 50%;
    position: absolute;
    width: 50%;
}

.tab-pane iframe.front-preview {
    top: 0;
}

.tab-pane iframe.back-preview {
    bottom: 0;
}

.front-code,
.css,
.back-code {
    height: 33%;
    margin-bottom: 5px;
}

#views {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
    background-color: white;
}

#views .tab-pane {
    /* flex: 1 1 auto; */
    left: 0;
    top: 42px;
    /*height: 100%;*/
    bottom: 0px;
    position: absolute;
    z-index: 10000;
}

.front-code>div {}

.css>div {
    /*margin-top: 13%;*/
}

.back-code>div {
    /*margin-top: 26%;*/
}

#views .tab-content .tab-pane {
    /*display: flex;
  flex-direction: column;
  height: 100%;*/
    /*position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;*/
    background-color: white;
}


/* Save button styles. */

div#controls {
    text-align: right;
    margin-top: 3px;
}

div#views .view-tab-nav {
    display: inline-block;
}
